/*
COLOR PALETTE
https://coolors.co/c7ede4-d5fff3-af9ab2-820b8a-672a4e
$light-cyan: #c7ede4ff;
$aero-blue: #d5fff3ff;
$lilac-luster: #af9ab2ff;
$patriarch: #820b8aff;
$old-mauve: #672a4eff;
*/

/** {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}*/

/* Global styles.....................................*/
body {
  color: ##A9A9A9;
}
h1 {
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
}
h2 {
  font-size: 50px;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: 'Garamond', sans-serif;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 45px 0;
}
.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* Header.....................................*/
header img {
  width: 415px;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}

.title {
  background: #00023F;
  color: #d5fff3ff;
  font-size: 120px;
  font-family: Garamond, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.subtitle {
  background: #c7ede4ff;
  color: #582A30;
  font-size: 120px;
  font-family: Garamond, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0;
  border-bottom: 2px dashed black;
}

/* Methodology.....................................*/

.intro {
  background: #fbfbf8;
  color: #000000;
  padding-top: 50px;
}

.intro p {
  padding: 0 50px 0 50px;
}

.methodology {
  background: #af9ab2ff;
  color: #000000;
  margin: -10px;
}

.methodology h2 {
    color: #fbfbf8;
}

#train_schedule {
  width: auto;
  margin: -8px;
}

.read h2 {
  color: #582A30;
}

footer {
    background: #820b8aff;
    color: #fbfbf8;
    margin: -10px;
}
footer a {
    color: #d5fff3ff;
}
